.res-table-sqr {
  width: 100%;
}
.res-table-sqr td:after {
  content: '';
  display: block;
  margin-top: 100%;
}
.res-table-sqr td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.dot {
  .dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
}
